
@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<p>
    <b>09/05/2021</b>
    <br />
    <ul>
        <li>Креативно коллаборировал нью лук</li>
        <li>Позитивно джобизданил фидбек</li>
        <li>Хтонично сапдейтил лендос</li>
        <li>Экологично импрувил функционал</li>
    </ul>
</p>


<p>
    <b>08/05/2021</b>
    <ul>
        <li>Аппрувно лончанул пилот</li>
    </ul>
</p>