@{
    ViewData["Title"] = "Home Page";
}

<table class="table-hover claim-table">
    <tr>
        <th class="claim-type claim-data claim-head">Wisdom</th>
    </tr>

    @foreach (var key in Model)
    {
        <tr>
            <td class="claim-data">@key</td>
        </tr>
    }
</table>

<br /> 
<br />

<button name="nameButton" id="idButton" title="your title" class="btn btn-secondary" 
            onclick="location.href='@Url.Action("Index")';return false;">
    More Wisdom
</button>

